/* General */
body{
  text-align: center;
}
.larghezza{
  width: 80%;
  margin: auto;
}
img{
  height: 150px;
}
h1{
  margin-top: 50px;
  margin-bottom: 20px;
}
p, hr{
  width: 75%;
  margin: auto;
}
hr{
  margin-top: 10px;
  margin-bottom: 50px;
}
h3{
  margin: 15px;
}

/* Container Lezioni */


/* Container Centrale */
.container-grey{
  background-color: #f9f9f9;
}

/* Container Cademi */
.perchè-cademi img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}
.perchè-cademi{
  margin-bottom: 30px;
}


@media screen and (max-width: 767px) {
  .informazioni{
    display: none;
    margin-bottom: 20px;
  }
  img:hover + .informazioni{
    display: block;
  }
}
